@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
  box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

body {
  font-family: Raleway, sans-serif;
  text-align: center;
  margin: 0;
  padding: 1rem;
  background-color: rgba(10, 12, 18, 1);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
  min-width: min(40rem, 100%);
}

.box {
  font-size: 3vw;
  margin: max(1rem, 3vw);
  border: 0.35rem solid;
  padding: 3vw;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
  border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

.date {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.time-unit {
  background-color: #222;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 1rem;
  margin-top: 10px;
}

.time-box {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100px;
  color: white;
  text-shadow: 0 1px 0 #000;
  --border-angle: 0turn; /* For animation */
  --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );
  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
  background: 
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 60s linear infinite;
}

.time-box-seconds {
  animation-duration: 60s;
}

.time-box-minutes {
  animation-duration: 3600s;
}

.time-box-hours {
  animation-duration: 43200s;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}